/* Only applies to the HeaderLayout component */
.header-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header-layout-content {
    flex: 1;
    overflow: hidden;
    margin-top: -30px; /* Adjust to shift content up */
  }
  