@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.loginpage {
  background: url("../../assets/images/BG-login.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.logincard {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(6px);
  border: 2px solid rgba(255, 255, 255, 0.61);
  z-index: 999;
}

.back-to-home {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.61);
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.2); /* Similar shadow as logincard */
  backdrop-filter: blur(6px); /* Adds a subtle blur effect */
  border-radius: 12px; /* Rounded corners */
  border: 2px solid rgba(255, 255, 255, 0.61);
  font-size: 14px;
  color: #002D74;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s;
}

.back-to-home:hover {
  transform: scale(1.05); /* Slightly enlarges on hover */
}

.back-to-home svg {
  margin-right: 8px;
}
